<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="wrapper">
<div class="sidebar" data-color='blue' data-image="" style="background-color: #000 !important">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Slider</h4>
                        <p class="category">Selecciona las fotos del slider de publicidad</p>
                    </div>
                    <div class="row">
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <carousel>
                              <slide *ngFor="let slider of sliderF">
                                  <img src="{{slider.img}}" alt="First" style="display: block; width: 100%;">
                              </slide>
                            </carousel>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row card-content">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <h3>  Selecciona las fotos del slider:</h3>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <form [formGroup]="sliderForm" (ngSubmit)="guardar(sliderForm)">
                            <div formArrayName="slider">
                                <div *ngFor="let client of sliderForm.controls.slider.controls; let i=index" [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-black label-floating is-empty">
                                                
                                                <button class="btn btn-warning" ><i class="material-icons" >add_a_photo</i></button>
                                                <input type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)" (click)=setI(i)>
                                                 

                                                <style>
                                                  .file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
                                                </style> 
                                                <div class=".btn-block .btn-success" ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}" (onFileOver)="fileOverBase($event)" (beforeUpload)="beforeUpload($event)"> 
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <label class="labels">Imagen {{i}}</label>
                                            <div class="form-group form-black label-floating is-empty">  
                                               <input type="text" name="img" class="form-control" formControlName="img">
                                            </div>
                                        </div>
                                         
                                        
                                        <div class="col-md-2">
                                            <div class="btn btn-danger" (click)=remover(i)><i class="material-icons" >delete</i></div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-10" >
                                        <div class="btn btn-info pull-right" style="border-radius: 55px" (click)=agregar()><i class="material-icons" >add_circle</i></div>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                                <div class="col-md-12" align="center">
                                    <button type="submit" class="btn btn-danger" [disabled]="!sliderForm.valid">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <app-footer></app-footer>
 </div>
 </div>


