<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="wrapper">
<div class="sidebar" data-color='blue' data-image="" style="background-color: #000 !important">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="rose">
                        <h4 class="title">Datos del sistema</h4>
                        <p class="category">Puedes asignar los datos para el sistema.</p>
                    </div>
                    <div class="row">
                        <br>
                    </div>
                    
                    <div class="row card-content" >
                        <div class="col-md-10">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="labels">Número de contacto de la app</label>  
                                <input type="text" name="contacto" class="form-control" [(ngModel)]="contacto">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-black label-floating is-empty">
                                <button class="btn btn-warning" (click)="updateContacto(contacto)">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <app-footer></app-footer>
 </div>
 </div>


