page-calificacion {
	.content-md, .content-ios{
		background-color: #1e6594;
	}
	.center{
		text-align: center;
	}
	.bar-button-default-ios, .bar-button-default-md{
		color: #fff;
	}
	.img-header{
		height: 45px;
    	margin-top: 5px;
	}
	.toolbar-background-md, .toolbar-background-ios {
	    border-color: #000000 !important;
	    background: #000000 !important;
	}
	.segment-md .segment-button.segment-activated, .segment-ios .segment-button{
		border-color: #d5bf03;
		color: #ffffff;
	}
	.segment-ios .segment-button.segment-activated{
		background-color: #d5bf03;
		color: #000000;
	}
	.toolbar-ios .segment-button{
		max-width: 120px;
	}
	.segment-md .segment-button{
		color: #ffffff;
	}
	.title-service{
		margin: 0px;
    	font-size: 16px;
    	font-weight: bold;
    	width: 89%;
    	display: inline;
	}
	.item-service{
		margin: 0px;
    	font-size: 10px;
	}
	.item-service2{
		margin: 0px;
    	font-size: 13px;
	}
	.img-services{
		width: 11%;
    	margin-right: 5px;
	}
	.b1-login{
		border-radius: 14px;
	    background-color: #d5bf03;
	    color: #000000;
	    font-size: 16px;
		font-family: "HH Samuel";
		height: 25px;
	}
	.content-service{
		margin: 10px;
	    background-color: #fff;
	    padding: 5px;
	    border-radius: 10px;
	}
	.right{
		text-align: right;
	}
	ul {
	  padding: 0px;

	  &.rating li {
	    padding: 5px 0 !important;
	    background: none;
	    color: #ffb400;

	    ion-icon {
	      font-size: 1.7rem;
	    }
	  }
	}
	hr {
		margin-top: 0px !important;
	}
}

