<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logom.png" class="img-header"></ion-title>
  </ion-navbar>
  <ion-navbar>
    <ion-segment [(ngModel)]="calification">
      <ion-segment-button value="order">
        POR CALIFICAR
      </ion-segment-button>
      <ion-segment-button value="history">
        CALIFICADOS
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>
<ion-content class="has-header">
  <div [ngClass]="{ 'hide': calification != 'order' }" class="content-order">
    <br>
    <div *ngFor="let item of calications">
      <ion-row class="content-service" *ngIf="item.calificacion == null && item.socio != null && item.estado == '2'">
        <ion-col col-8>
          <img src="{{item.subcategoria.imagen}}" class="img-services">
          <p class="title-service">{{item.subcategoria.nombre}}</p>
          <p class="item-service">Realizado por: {{item.socio.nombre}} el {{item.created_at | date: 'dd/MM/yyyy'}}</p>
        </ion-col>
        <ion-col col-4 class="right">
          <button ion-button class="b1-login" (click)="calificar(item)">Calificar</button>
        </ion-col>
      </ion-row>
    </div>
  </div>   
  <div [ngClass]="{ 'hide': calification != 'history' }" class="bg-color">
    <br>
    <div *ngFor="let item of history">
      <ion-row class="content-service" *ngIf="item.calificacion !== null && item.socio != null && item.estado == '2'">
        <ion-col col-8>
          <img src="{{item.subcategoria.imagen}}" class="img-services">
          <p class="title-service">{{item.subcategoria.nombre}}</p>
          <hr>
          <p class="item-service2">{{item.calificacion.comentario}}</p>
          <p class="item-service">Realizado por: {{item.socio.nombre}} el {{item.created_at | date: 'dd/MM/yyyy'}}</p>
        </ion-col>
        <ion-col col-4>
          <rating [(ngModel)]="item.calificacion.puntaje"
            name="rate"  
            readOnly="true"
            max="5"
            emptyStarIconName="star-outline"
            halfStarIconName="star-half"
            starIconName="star"
            nullable="false">
          </rating>
        </ion-col>
      </ion-row>
    </div>
  </div> 
</ion-content>

