 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="wrapper">
<div class="sidebar" data-color='blue' data-image="" style="background-color: #000 !important">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
    
    <app-navbar></app-navbar>
    <div class="main-content">
       
    <div class="container-fluid">
        <div class="col-md-12">

                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Lista de los socios.</h4>
                        <p class="category">Información resumida de los socios registrados.</p>
                    </div>
                    <div class="card-content material-datatables table-responsive">
                        <div class="row">

                            <div class="col-xs-4">
           
                                <div class="col-xs-6">
                                    <div class="row">

                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-xs-8 "></div>
                                <div class="form-group" style="text-align: right;">
                                     <label>Buscar: </label>
                                     <input  type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
                                     
                                </div>

                                <table class="table table-striped">
                                  <thead>
                                     <th></th>
                                     <th style="text-align: center;">ID</th>
                                     <th style="text-align: center;">Nombre</th>
                                     <th style="text-align: center;">Teléfono</th>
                                     <th style="text-align: center;">Ubicación</th>
                                     <th style="text-align: center;">Acciones</th>
                                  </thead>
                                  <tbody>
                                     <tr *ngFor="let item of items">
                                        <td></td>
                                        <td style="text-align: center;">{{item.id}}</td>
                                        
                                        <td style="text-align: center;">{{item.nombre}}</td>
                                        <td style="text-align: center;">{{item.telefono}}</td>
                                        <td style="text-align: center;">{{item.ubicacion}}</td>
                                        <td style="text-align: center;">
                                          <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs" (click)="getSocio(item)">
                                                    <i class="material-icons">remove_red_eye</i>
                                          </button>
                                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="remove(item)">
                                                    <i class="material-icons">close</i>
                                          </button> -->
                                          <button type="button" class="btn btn-success" (click)="getSocio(item)"><i class="fa fa-eye"></i>&nbsp; Ver</button>
                                          <!-- <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp; Eliminar</button> -->
                                        </td>
                                     </tr>
                                  </tbody>
                                </table>
                                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                                    <div class="btn-group">
                                       <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
                                    </div>
                                    <div class="btn-group pull-right">
                                       <ul class="pagination" >
                                          <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" >Atrás</a></li>
                                             <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                                                <a (click)="setPage(page)" >{{page}} </a>
                                             </li>
                                          <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" >Siguiente</a></li>
                                       </ul>
                                    </div>
                                </div>
                        </div>  
                    </div>
                </div> 
        </div>
         <div class="row"> 
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Perfil</h4>
                        <p class="category">Información del perfil</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">

                                <div class="col-md-4">
                                    <label class="control-label">Nombre</label>
                                    <div class="form-group form-black label-floating">
                                        <input type="text" class="form-control" [(ngModel)]="editNombre" name="editNombre">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label">Teléfono</label>
                                    <div class="form-group form-black label-floating">
                                        <input type="text" class="form-control" [(ngModel)]="editTelefono" name="editTelefono">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Correo</label>
                                    <div class="form-group form-black label-floating">
                                        <input type="email" class="form-control" [(ngModel)]="editCorreo" name="editCorreo" disabled>
                                    </div>
                                </div>
                            </div>


                             <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Ubicación</label>
                                    <div class="form-group form-black label-floating">
                                        <input type="text" class="form-control" [(ngModel)]="editUbicacion" name="editUbicacion">
                                    </div>
                                </div>
                            </div> 

                            <div class="row">
                                <div class="col-md-6">
                                    <div  *ngFor="let serv of editServicio; let i=index" >

                                        <div class="col-md-6">
                                            <label class="control-label">Servicio {{i+1}}</label>

                                            <div class="form-group form-black label-floating is-empty">
                                                <!-- <label class="control-label">Servicio</label> -->
                                                <!-- <input type="text" class="form-control" [(ngModel)]="serv.servicio" name="editServicio"> -->
                                                {{serv.servicio}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">SubCategoria</label>
                                            <div class="form-group form-black label-floating is-empty">
                                                <!-- <label class="control-label">SubCategoria</label> -->
                                                <!-- <input type="text" class="form-control" [(ngModel)]="serv.subcategoria_id" name="editCosto"> -->
                                                {{serv.subcategoria.nombre}}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4"><label class="control-label">Dia</label></div>
                                        <div class="col-md-4"><label class="control-label">Hora de inicio</label></div>
                                        <div class="col-md-4"><label class="control-label">Hora de finalización</label></div>
                                    </div>
                                    <div>
                                        <div class="row" *ngFor="let horario of editHorario">
                                            <hr>
                                            <div class="col-md-4">{{horario.dia}}</div>
                                            <div class="col-md-4">{{horario.horaInicio}}</div>
                                            <div class="col-md-4">{{horario.horaFin}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        

                            <!-- <button type="submit" class="btn btn-danger pull-right">Actualizar Perfil</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a >
                            <img class="img" src="../assets/img/tim_80x80.png" />
                        </a>
                    </div>

                    <div class="content">
                        <h6 class="category text-gray">Información</h6>
                        <h4 class="card-title">{{editNombre}}</h4>
                        <p class="card-content">
                            
                        </p>

                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
    <app-footer></app-footer>
 </div>
 </div>